body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: bisque;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 2em;
    margin-bottom: 10px;
}

.linkGitHub {
    display: block;
    margin-bottom: 20px;
}

h2, p {
    text-align: center;
}

form {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    text-align: center;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

button:hover {
    background-color: #45a049;
}

#divDoBotao{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;}

section h3 {
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 100px;
}

a{text-decoration: none;
    color: red;
    }

a:hover{color: black;
        font-weight: bolder;}

@media only screen and (max-width: 600px) {
    input {
        width: calc(100% - 20px);
    }
}


h4{text-align: center;
    font-weight: bolder;
    font-size: 18px;}