


body{font-family: Arial, Helvetica, sans-serif;
        font-size: larger;
        color: white;
        background-color: red;
        margin: 0;}


header{height: 400px;
        background-image: url(./imagens/flower-76336_1920.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        color: black;
        font-weight: bolder;
        }


h1{text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Pacifico', cursive;
    margin-top: 0;
    padding-top: 0;
    float: left;}


.linkGitHub{margin-left: 900px;
            color:black ;
            text-decoration: none;}

h2{text-align: center;
    margin-top: 100px;
    font-size: xx-large;}


section{background-color: rgb(42, 167, 42);}

